<div class="blog_listing__main blog_listing__main_masonry">
  <div class="grid">
    {%- for article in blog.articles -%}
      {%- include 'blog-masonry-item' -%}
    {%- endfor -%}
  </div>
 
  
  {%- if paginate.pages > 1 -%}
    {% assign pagination_items = 'layout.pagination.articles' | t %}
    {%- include 'snippet-pagination' with pagination_items -%}
  {%- endif -%}
  
</div>

<script type="text/javascript">
  $(document).ready(function () {
    setTimeout(function () {
      resizeAllGridItems();
      window.addEventListener("resize", resizeAllGridItems);
      var allItems = document.getElementsByClassName("item");
      for(var x=0; x < allItems.length; x++){
        imagesLoaded(allItems[x], resizeInstance);
      }
    }, 300);
  });
  
  
  function resizeGridItem(item){
    var grid = document.getElementsByClassName("grid")[0];
    var rowHeight = parseInt(window.getComputedStyle(grid).getPropertyValue('grid-auto-rows'));
    var rowGap = parseInt(window.getComputedStyle(grid).getPropertyValue('grid-row-gap'));
    var rowSpan = Math.ceil((item.querySelector('.article_item_masonry').getBoundingClientRect().height+rowGap)/(rowHeight+rowGap));
    item.style.gridRowEnd = "span " + rowSpan;
  }
  
  function resizeAllGridItems(){
    var allItems = document.getElementsByClassName("item");
    for(var x=0; x < allItems.length; x++){
      resizeGridItem(allItems[x]);
    }
  }
  
  function resizeInstance(instance){
    var item = instance.elements[0];
    resizeGridItem(item);
  }

</script>
