{% capture newsletterForm %}
	{% form 'customer' %}
			{{ form.errors | default_errors }}
			<div class="alert alert-success">{{ 'layout.footer.newsletter_success' | t }}</div>
			<input type="hidden" name="contact[tags]" value="Newsletter subscriber">
			<div class="form-wrapper {% if item.type_line == blank %} justify-content-center {% endif %}">
				<div class="position-relative form-control-wrapper">
					<input type="email" name="contact[email]" class="form-control input-group__field newsletter__input" placeholder="Email address">
				</div>
				<button class="btn btn-primary" type="submit">{{ 'layout.footer.subscribe_button' | t }}</button>
			</div>
	{% endform %}
{% endcapture %}
									
	{% assign newsletterForm = newsletterForm | replace: "'", "&lsquo;" | replace: 'id="contact_form"', 'id="newsletter_form"' | strip_newlines %}
{{ newsletterForm }}