<div class="template_page">
	<div class="container">
		

		<div class="rte">
          <div name="termly-embed" data-id="23918434-f25b-4821-b07d-976390d39fb7" data-type="iframe"></div>
<script type="text/javascript">(function(d, s, id) {
  var js, tjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
js = d.createElement(s); js.id = id;
js.src = "https://app.termly.io/embed-policy.min.js";
tjs.parentNode.insertBefore(js, tjs);
}(document, 'script', 'termly-jssdk'));</script>

          
			{%comment%}{{ page.content }}{%endcomment%}
		</div>
	</div>
</div>