<div class="template_page template_page_sections_all">
	<section class="py-3 py-md-4">
		<div class="title-wrapper text-center mb-4">
			<h3 class="page_heading">Slideshow</h3>
			<p class="page-description">Slider is the most popular item in all online stores. You can change the height of the section: small (1170x400), medium (1170x551), and large (1170x800). Turn on autoplay from 5 to 10 seconds. Add up to 5 slides.</p>
		</div>
		{% section 'index-slideshow' %}
	</section>

	<section class="py-3 py-md-4">
		<div class="title-wrapper text-center mb-4">
			<h3 class="page_heading">Banners</h3>
			<p class="page-description">The section with banners allows you to place banners and link them to the product or collection you want to describe.</p>
		</div>
		{% section 'index-banners' %}
	</section>

	<section class="py-3 py-md-4">
		<div class="title-wrapper text-center mb-4">
			<h3 class="page_heading">Collection list</h3>
			<p class="page-description">Do you have new collections in the store? Add to the homepage with this section accommodating up to 12 collections.</p>
		</div>
		{% section 'index-collection-list' %}
	</section>

	<section class="py-3 py-md-4">
		<div class="title-wrapper text-center mb-4">
			<h3 class="page_heading">Products carousel</h3>
			<p class="page-description">According to statistics, the client often uses the section with the carousel, as he can review the top products or bestsellers that the store offers without moving to the product page. From the selected collection you can show 4, 5, 6, 7, 8, 9, 10 products, in one or two rows, 4 in a row.</p>
		</div>
		{% section 'index-products-carousel' %}
	</section>

	<section class="py-3 py-md-4">
		<div class="title-wrapper text-center mb-4">
			<h3 class="page_heading">Featured products</h3>
			<p class="page-description">Place your goods where you think is appropriate and the quantity you want. List products from the selected collection in groups of 4, 8, 12, 16, 20.</p>
		</div>
		{% section 'index-featured-products' %}
	</section>

	<section class="py-3 py-md-4">
		<div class="title-wrapper text-center mb-4">
			<h3 class="page_heading">Mosaic Products</h3>
		</div>
		{% section 'index-products-mosaic' %}
	</section>

	<section class="py-3 py-md-4">
		<div class="title-wrapper text-center mb-4">
			<h3 class="page_heading">Lookbook</h3>
			<p class="page-description">​Do you want to increase your sales?<br>With Lookbook section you can induce clients to buy products with professional photos, which depict goods in the best professional style.<br>You can add up to six items in the photo and link them to the product page.</p>
		</div>
		{% section 'index-lookbook' %}
	</section>

	<section class="py-3 py-md-4">
		<div class="title-wrapper text-center mb-4">
			<h3 class="page_heading">Single product</h3>
			<p class="page-description">If you have a single product shop, or you want to draw the customer's attention to a particular product that you would like to sell faster and in greater quantities, this is the ideal section. The data of the selected product is displayed.</p>
		</div>
		{% section 'index-single-product' %}
	</section>

	<section class="py-3 py-md-4">
		<div class="title-wrapper text-center mb-4">
			<h3 class="page_heading">Information block</h3>
		</div>
		{% section 'index-cms-block' %}
	</section>

	<section class="py-3 py-md-4">
		<div class="title-wrapper text-center mb-4">
			<h3 class="page_heading">Logo list block</h3>
		</div>
		{% section 'index-logo-list' %}
	</section>

	<section class="py-3 py-md-4">
		<div class="title-wrapper text-center mb-4">
			<h3 class="page_heading">Blog</h3>
			<p class="page-description">​Tell your customers about the news of your store using a blog.</p>
		</div>
		{% section 'index-blog-articles' %}
	</section>

	<section class="py-3 py-md-4">
		<div class="title-wrapper text-center mb-4">
			<h3 class="page_heading">Testimonials</h3>
			<p class="page-description">More than 60% of customers make a point of paying attention to reviews about the company. Add 1 - 9 quotes. With more than 3, the quotes will be in the carousel.</p>
		</div>
		{% section 'index-testimonials' %}
	</section>

	<section class="py-3 py-md-4">
		<div class="title-wrapper text-center mb-4">
			<h3 class="page_heading">Image with text</h3>
			<p class="page-description">This section can be used to convert a client with a “Call to action” button.</p>
		</div>
		{% section 'index-image-with-text' %}
	</section>

	<section class="py-3 py-md-4">
		<div class="title-wrapper text-center mb-4">
			<h3 class="page_heading">Map</h3>
			<p class="page-description">​Do you sell from a physical location as well as online? Your customers need to know where your store is located, if they want to see the actual goods.</p>
		</div>
	{% section 'index-map' %}
	</section>

	<section class="pt-3">
		<div class="title-wrapper text-center mb-4">
			<h3 class="page_heading">Newsletter</h3>
			<p class="page-description">​With customer contacts you can increase your revenue, so now you can directly offer new products and promotions to your clients with email​.</p>
		</div>
		{% section 'index-newsletter' %}
	</section>
</div>

